<% include partials/header %>


    <div class="container">

        <header class="jumbotron">
            <div class="container">
                <h1>ALUMNIS Directory</h1>
                <p>View our alumnis from all over the world!</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/alumni/new">Add New ALUMNI</a>
                </p>
            </div>
        </header>

        <form action="/search" method="POST">
            <input type="text" name="name" placeholder="title">
            <input type="text" name="batch" placeholder="batch">
            <input type="text" name="branch" placeholder="branch">
            <input type="text" name="college" placeholder="college">

            <button> search</button>

        </form>




        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% alumni.forEach(function(alumni){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= alumni.image %>">
                        <div class="caption">
                            <h4>
                                <%= alumni.name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/alumni/<%= alumni._id%>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <% include partials/footer %>