<% include partials/header %>


    <div class="container">

        <header class="jumbotron">
            <div class="container">
                <center>
                    <h1>Welcome to ALUMNIS Directory</h1>
                </center>

                <center>
                    <h2> View our alumnis from all over the world! </h2>
                </center>
                <p></p>

                <p>
                    <a class="btn btn-primary btn-large" href="/alumni/new">CREATE ACCOUNT</a>
                </p>

                <p>
                    <a class="btn btn-primary btn-large" href="/alumni/search">Search ALUMNI</a>
                </p>

            </div>
        </header>

        <!-- <form action="/search" method="POST">

            <input type="text" name="name" placeholder="name">
            <input type="text" name="batch" placeholder="batch">
            <input type="text" name="branch" placeholder="branch">
            <input type="text" name="college" placeholder="college">

            <button> search</button>

        </form> -->




        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% alumni.forEach(function(alumni){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail" style="height: 350px;">

                        <% if( alumni.name != "Kaustabh karkare" && alumni.name != "Aman Kumar1" ){ %>

                            <img class="padding" src="<%= alumni.image %>" style=" padding-top: 15%;padding-bottom: 20%; padding-left: 10%;padding-right: 10%;">
                            <!-- width: 80%; -->
                            <% } else{ %>
                                <img class="padding" src="<%= alumni.image %>" style=" padding-top: 27%;padding-bottom: 20%; padding-left: 10%;padding-right: 10%;">
                                <% } %>



                                    <div class="caption" style=" position: absolute;bottom: 80px;left: 70px;">
                                        <h4>
                                            <%= alumni.name %>
                                        </h4>
                                    </div>

                                    <p>
                                        <a href="/alumni/<%= alumni._id%>" class="btn btn-primary" style=" position: absolute;bottom: 50px;left: 100px;">More Info</a>
                                    </p>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <div id="particles-js">


        </br>
        </br>
        </br>
        <div id="abc">


        </div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="/js/script.js"></script>

        <% include partials/footer %>